<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
body {
  margin:0;
  font-family:Roboto
  color: #FFFFFF;
  background-color: #EFEFEF;
}
.navbar/*.navbar-nav li a*/ {
   background-color: #30C2FF;
   border-color:#30C2FF;
   font-family:Roboto
   color: #FFFFFF;
   min-height: 75px;
   font-weight: bold;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #30C2FF;
   color: #FFFFFFs;
   text-align: left;
}
a{
  color:white;
}
</style>
  </head>

  <body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><font size=6>Trends and Tees</font>
      <br><font size=3> Inventory Management System</font>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Shirt</a></li>
      <li><a href="#">Spool</a></li>
      <li><a href="#">Book</a></li>
      <li><a href="#">Graph</a></li>
      <li><a href="#">Key</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><h2><a href="#">Logged in as IM</a></h2></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a></li>
    </ul>
  </div>
</nav>

<%= yield %>

<div class="footer">
  <p><a href="#"><bold>HOME</bold></a></p>
</div>
  </body>
</html>
